<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="../static/css/Personal Area.css" rel="stylesheet" type="text/css">
    </head>
    <body >
                <main class="main_content">
                    <h1>Личный кабинет</h1>
                    <div class="content">
                        <div class="image_block">
                            <a href="/" class="return">Назад</a><br><br>
                            <img class="i" src="{{url_for('userAva', showIm=False)}}" alt="упс картинки нет"><br>
                            <p clas="userName">Пользователь <b>{{name}}</b></p>
                            <form action="/upload" method="POST" enctype="multipart/form-data">
                                <input type="file" id="image_uploads" class="input_file" name="image" accept=".jpg, .jpeg, .png" multiple>
                                <label for="image_uploads" class="input__file-button">
                                    <span class="input__file-button-text">Выберите изображение (PNG, JPG)</span>
                                </label>
                                <input type="submit" id='save_img' class='but' value="Сохранить">
                                <label for="save_img" class="save-button">
                                    <span class="input__file-button-text">Загрузить</span>
                                </label>
                            </form>
                            <ul>
                            <li><a href="/">Назад</a></li>
                            <li><a href='/logout'>Выйти из акканута</a></li>
                            </ul>
                        </div>
                        <div class="block_content">
                            <h2 class="h2_stat">Мои статьи</h2>
                        {% for elem in menu%}
                        <div class="post">
                            <a class="a_post" href="{{elem['id']}}">{{elem["title"].replace("0b100111", "'").replace("0b100010", '"')}}</a>
                            <p class="content1">
                            {% autoescape false%}
                            {{elem["content"][:50].replace("0b100111", "'").replace("0b100010", '"')}}...   
                            {% endautoescape %}
                            </p>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </main>
    </body>
</html>